#chart-name {
  font-family: "League Gothic";
  color: #505050;
  font-style: italic;
  text-align: center;
  font-size: 300%;
}

.btn {
  border-radius: 0px
}

#sortBy, .btn {
  font-family: "League Gothic";
  letter-spacing: 1px
}