#chart-name {
  font-family: "League Gothic";
  color: #505050;
  font-style: italic;
  text-align: center;
  font-size: 300%;
}

.bar-container {
  margin-bottom: 2%;
}

.btn-secondary {
  border-radius: 0px;
  margin-left: 20px
}

select {
  max-width: 125%
}

option {
  font-family: "League Gothic"
}

#sortBy, .btn {
  font-family: "League Gothic";
  letter-spacing: 1px;
}

.form-inline {
  margin-bottom: 2%;
}

.merge-container {
  height: 100px;
}